NODE_ENV='development'

APPLICATION_PORT=4000
APPLICATION_URL='http://localhost:${APPLICATION_PORT}'
ALLOWED_ORIGIN='http://localhost:3000'

COOKIES_SECRET='xxxxxxx'
SESSION_SECRET='xxxxxxx'
SESSION_NAME='xxxxxx'
SESSION_DOMAIN='localhost'
SESSION_MAX_AGE='30d'
SESSION_HTTP_ONLY=true
SESSION_SECURE=false
SESSION_FOLDER='sessions:'


POSTGRES_USER='xxxxxxxx'
POSTGRES_PASSWORD='xxxxxxxxx'
POSTGRES_HOST='localhost'
POSTGRES_PORT=5432
POSTGRES_DB='dance-studio-crm'
POSTGRES_URI='postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}'

PGADMIN_DEFAULT_EMAIL='kivals.90@yandex.ru'
PGADMIN_DEFAULT_PASSWORD='xxxxxxxxxx'

REDIS_USER='xxxxxxxx'
REDIS_PASSWORD='xxxxxxxxx'
REDIS_HOST='localhost'
REDIS_PORT=6379
REDIS_URI='redis://${REDIS_USER}:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}'